<div class="moves-section">
  
  {{!-- Basic Moves --}}
  <div class="move-category">
    <div class="category-header">
      <h3>Basic Moves</h3>
      <button type="button" class="item-create" data-type="move" data-move-type="basic">
        <i class="fas fa-plus"></i> Add Basic Move
      </button>
    </div>
    <div class="moves-list">
      {{#each moves.basic}}
      <div class="item move" data-item-id="{{_id}}">
        <div class="move-header">
          <h4 class="move-name">{{name}}</h4>
          <div class="move-controls">
            <button type="button" class="item-edit" title="Edit Move">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="item-delete" title="Delete Move">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="move-stat">
          <strong>{{capitalize system.stat}}</strong> Roll{{#if system.modifier}} {{system.modifier}}{{/if}}
        </div>
        <div class="move-description">
          {{system.description}}
        </div>
        <button type="button" class="move-roll rollable" data-roll-type="item">
          <i class="fas fa-dice-d20"></i> Roll Move
        </button>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- Role Moves --}}
  <div class="move-category">
    <div class="category-header">
      <h3>Role Moves</h3>
      <button type="button" class="item-create" data-type="move" data-move-type="role">
        <i class="fas fa-plus"></i> Add Role Move
      </button>
    </div>
    <div class="moves-list">
      {{#each moves.role}}
      <div class="item move" data-item-id="{{_id}}">
        <div class="move-header">
          <h4 class="move-name">{{name}}</h4>
          <div class="move-controls">
            <button type="button" class="item-edit" title="Edit Move">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="item-delete" title="Delete Move">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="move-stat">
          <strong>{{capitalize system.stat}}</strong> Roll{{#if system.modifier}} {{system.modifier}}{{/if}}
        </div>
        <div class="move-description">
          {{system.description}}
        </div>
        <button type="button" class="move-roll rollable" data-roll-type="item">
          <i class="fas fa-dice-d20"></i> Roll Move
        </button>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- Story Moves --}}
  <div class="move-category">
    <div class="category-header">
      <h3>Story Moves</h3>
      <button type="button" class="item-create" data-type="move" data-move-type="story">
        <i class="fas fa-plus"></i> Add Story Move
      </button>
    </div>
    <div class="moves-list">
      {{#each moves.story}}
      <div class="item move" data-item-id="{{_id}}">
        <div class="move-header">
          <h4 class="move-name">{{name}}</h4>
          <div class="move-controls">
            <button type="button" class="item-edit" title="Edit Move">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="item-delete" title="Delete Move">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="move-stat">
          <strong>{{capitalize system.stat}}</strong> Roll{{#if system.modifier}} {{system.modifier}}{{/if}}
        </div>
        <div class="move-description">
          {{system.description}}
        </div>
        <button type="button" class="move-roll rollable" data-roll-type="item">
          <i class="fas fa-dice-d20"></i> Roll Move
        </button>
      </div>
      {{/each}}
    </div>
  </div>

</div>
